<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>FH Admin</title>
		<!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 10]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
		<!-- Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="author" content="FH Admin QQ313596790" />

		<link rel="icon" href="../../../assets/images/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="../../../assets/fonts/fontawesome/css/fontawesome-all.min.css">
		<link rel="stylesheet" href="../../../assets/plugins/animation/css/animate.min.css">
		<link rel="stylesheet" href="../../../assets/css/style.css">

		<!-- 日期插件 -->
		<link rel="stylesheet"
			href="../../../assets/plugins/material-datetimepicker/css/bootstrap-material-datetimepicker.css">

		<!-- select插件 -->
		<link rel="stylesheet" href="../../../assets/plugins/select2/css/select2.min.css">
		<link rel="stylesheet" href="../../../assets/plugins/multi-select/css/multi-select.css">

		<script type="text/javascript" src="../../../assets/js/jquery-1.7.2.js"></script>
		<link type="text/css" rel="stylesheet" href="../../../plugins/zTree/2.6/zTreeStyle.css" />
		<script type="text/javascript" src="../../../plugins/zTree/2.6/jquery.ztree-2.6.min.js"></script>
		<!-- vue -->
		<script src="../../../assets/js-vue/vue.js"></script>
		<!--全局配置-->
		<script src="../../../assets/js-v/config.js"></script>

	</head>

	<body style="background-color: white">

		<!-- [加载状态 ] start -->
		<div class="loader-bg">
			<div class="loader-track">
				<div class="loader-fill"></div>
			</div>
		</div>
		<!-- [ 加载状态  ] End -->

		<!-- [ 主内容区 ] start -->
		<div class="pcoded-wrapper" id="app">
			<div class="pcoded-content">
				<div class="pcoded-inner-content">
					<div class="main-body">
						<div class="page-wrapper">
							<!-- [ Main Content ] start -->
							<div class="row">

								<div style="width: 100%;">
									<div id="showform">

										<table style="width:100%;">
											<tr>
												<td style="width:30%;" valign="top">
													<div id="menu-list" ref="menu-list"
														style="width:100%;height: 507px;overflow-y: scroll;">
														<ul id="leftTree" class="tree">
															<li><img src="../../../assets/images/loading.gif" /></li>
														</ul>

													</div>
												</td>
												<td style="width:70%;" valign="top">
													<iframe name="treeFrame" id="treeFrame" frameborder="0"
														src="menu_info.html"
														style="margin:0 auto;width:100%;height:100%;"></iframe>
												</td>
											</tr>
										</table>

										<div class="input-group" style="margin-top:10px;background-color: white">
											<span style="width: 100%;text-align: center;">
												<a class="btn btn-light btn-sm" v-on:click="goSave">保存</a>
												<a class="btn btn-light btn-sm" onclick="top.Dialog.close()">取消</a>
											</span>
										</div>

										<!-- <button type="button" v-on:click="goSave">保存</button> -->

									</div>
									<!-- [加载状态 ] start -->
									<div id="jiazai" style="display:none;margin-top:50px;">
										<div class="d-flex justify-content-center">
											<div class="spinner-border" style="width: 3rem; height: 3rem;"
												role="status">
												<span class="sr-only">Loading...</span>
											</div>
										</div>
									</div>
									<!-- [ 加载状态  ] End -->
								</div>

							</div>
							<!-- [ Main Content ] end -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- [ 主内容区 ] end -->

		<!-- <script type="text/javascript" src="../../../assets/js/jquery-1.7.2.js"></script> -->
		<script type="text/javascript" src="../../../assets/js/pre-loader.js"></script>
		<script src="../../../assets/plugins/sweetalert/js/sweetalert.min.js"></script>

		<!-- 日期插件 -->
		<script src="../../../assets/js/pages/moment-with-locales.min.js"></script>
		<script src="../../../assets/plugins/material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
		<script src="../../../assets/js/pages/form-picker-custom.js"></script>

		<!-- select插件 -->
		<script src="../../../assets/plugins/select2/js/select2.full.min.js"></script>
		<script src="../../../assets/plugins/multi-select/js/jquery.quicksearch.js"></script>
		<script src="../../../assets/plugins/multi-select/js/jquery.multi-select.js"></script>
		<script src="../../../assets/js/pages/form-select-custom.js"></script>

		<!-- 表单验证提示 -->
		<script src="../../../assets/js/jquery.tips.js"></script>

		<script type="text/javascript">
			var zTree;
			var vm = new Vue({
				el: '#app',
				data: {
					RULE_ID: '', //主键ID
					pd: [], //存放字段参数
					menuList: []
				},

				methods: {

					//初始执行
					init() {
						var FID = this.getUrlKey('FID'); //接收过来的FID
						if (null != FID) {
							this.RULE_ID = FID;
							this.getData();
						}
						this.treeFrameT();
						this.getMenu();
					},

					//根据主键ID获取数据
					getData: function() {
						//发送 post 请求
						$.ajax({
							xhrFields: {
								withCredentials: true
							},
							type: "POST",
							url: httpurl + 'rule/goView',
							data: {
								RULE_ID: this.RULE_ID,
								tm: new Date().getTime()
							},
							dataType: "json",
							success: function(data) {
								if ("success" == data.result) {
									vm.pd = data.pd; //参数map
								} else if ("exception" == data.result) {
									showException("规则列表", data.exception); //显示异常
									$("#showform").show();
									$("#jiazai").hide();
								}
							}
						}).done().fail(function() {
							swal("登录失效!", "请求服务器无响应，稍后再试", "warning");
							$("#showform").show();
							$("#jiazai").hide();
						});
					},

					onCheck: function(event, treeId, treeNode) {
						console.log(treeNode);
						console.log(treeNode.tId + ", " + treeNode.name + "," + treeNode.checked);
					},


					getMenu: function() {
						//发送 post 请求
						$.ajax({
							xhrFields: {
								withCredentials: true
							},
							type: "POST",
							url: httpurl + 'rule/menuList',
							data: {
								RULE_ID: this.RULE_ID,
								tm: new Date().getTime()
							},
							dataType: "json",
							success: function(data) {
								if ("success" == data.result) {
									vm.menuList = data.pd;
									var setting = {
										showLine: true,
										checkable: true,
										callback: {
											change: vm.onCheck
										}
									};
									var zTreeNodes = eval(data.pd);
									console.log(zTreeNodes);
									zTree = $("#leftTree").zTree(setting, zTreeNodes);
									zTree.expandAll(true);

								} else if ("exception" == data.result) {
									showException("规则列表", data.exception); //显示异常
									$("#showform").show();
									$("#jiazai").hide();
								}
							}
						}).done().fail(function() {
							swal("登录失效!", "请求服务器无响应，稍后再试", "warning");
							$("#showform").show();
							$("#jiazai").hide();
						});
					},

					treeFrameT: function() {
						var hmainT = document.getElementById("treeFrame");
						var bheightT = document.documentElement.clientHeight;
						hmainT.style.width = '100%';
						hmainT.style.height = (bheightT - 200) + 'px';
					},

					goSave: function() {
						var nodes = zTree.getCheckedNodes();
						// console.log(nodes);
						var tmpNode;
						var ids = "";
						if (nodes.length > 0) {
							for (var i = 0; i < nodes.length; i++) {
								var level = nodes[i].level;
								tmpNode = nodes[i]
								if (level == 2) {
									if (i != nodes.length - 1) {
										ids += tmpNode.id + ",";
									} else {
										ids += tmpNode.id;
									}
								}
							}
						}
						if (ids == "") {
							$("#menu-list").tips({
								side: 3,
								msg: '请选择菜单',
								bg: '#AE81FF',
								time: 2
							});
							ids = '';
							return false;
						}

						// ids = "[" + ids + "]"
						$.ajax({
							xhrFields: {
								withCredentials: true
							},
							type: "POST",
							url: httpurl + 'rule/saveMenu',
							data: {
								RULE_ID: this.RULE_ID,
								RULE_MENU: ids,
								tm: new Date().getTime()
							},
							dataType: "json",
							success: function(data) {
								if ("success" == data.result) {
									swal("", "保存成功", "success");
									setTimeout(function() {
										top.Dialog.close(); //关闭弹窗
									}, 1000);
								} else if ("exception" == data.result) {
									showException("规则列表", data.exception); //显示异常
									$("#showform").show();
									$("#jiazai").hide();
								}
							}
						}).done().fail(function() {
							swal("登录失效!", "请求服务器无响应，稍后再试", "warning");
							$("#showform").show();
							$("#jiazai").hide();
						});
					},


					//获取数据字典数据
					getDict: function() {},



					//根据url参数名称获取参数值
					getUrlKey: function(name) {
						return decodeURIComponent(
							(new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.href) || [,
								""
							])[1].replace(/\+/g, '%20')) || null;
					}

				},

				mounted() {
					this.init();
				}
			})

			window.onresize = function() {
				vm.treeFrameT();
			};

			function zTreeOnCheck(event, treeId, treeNode) {
				alert(treeNode.tId + ", " + treeNode.name + "," + treeNode.checked);
			};
		</script>

	</body>
</html>
