<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>FH Admin</title>
    <!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 10]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
    <!-- Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="FH Admin QQ313596790" />

    <link rel="icon" href="../../../assets/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../../assets/fonts/fontawesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="../../../assets/plugins/animation/css/animate.min.css">
    <link rel="stylesheet" href="../../../assets/css/style.css">
    <link rel="stylesheet" href="../../../assets/fonts/material/css/materialdesignicons.min.css">
    
    <!-- vue -->
	<script src="../../../assets/js-vue/vue.js"></script>
    <!--全局配置-->
    <script src="../../../assets/js-v/config.js"></script>

</head>

<body style="background-color: white">
    
    <!-- [加载状态 ] start -->
    <div class="loader-bg">
        <div class="loader-track">
            <div class="loader-fill"></div>
        </div>
    </div>
    <!-- [ 加载状态  ] End -->

    <!-- [ 主内容区 ] start -->
        <div class="pcoded-wrapper" id="app">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
								<div class="col-xl-12">
                                    <div class="card">
                                    
                                    	<div style="padding-left: 15px;padding-top: 15px;width: 100%">
                                    	<table style="width: 100%">
	                                    	<tr>
												<td>
												<div class="input-group input-group-sm mb-3">
				                                    <div class="input-group-prepend">
				                                        <span class="input-group-text" style="width: 130px;"><span style="width: 100%;">SQL脚本编辑语句</span></span>
				                                    </div>
				                                    <textarea class="form-control" rows="2" cols="10" id="updateSQL" v-model="updateSQL" style="width:68%;"  title="INSERT、UPDATE 或 DELETE 语句" placeholder="这里输入： INSERT、UPDATE 或 DELETE 语句"></textarea>
				                                    <div style="float: right;margin-right: 12px;margin-top: 3px;margin-left: 5px;" style="width:19%">
														<button v-show="edit" type="button" class="btn btn-icon btn-dark" v-on:click="executeUpdate" title="执行SQL"><i class="feather icon-play"></i></button>
													</div>
				                                 </div>
				                                 <div class="input-group input-group-sm mb-3" style="margin-top: -10px;">
				                                    <div class="input-group-prepend">
				                                        <span class="input-group-text" style="width: 130px;"><span style="width: 100%;">SQL脚本查询语句</span></span>
				                                    </div>
				                                    <textarea class="form-control" rows="2" cols="10" id="querySQL" v-model="querySQL" style="width:68%;" title="SELECT语句" placeholder="这里输入： SELECT 语句"></textarea>
				                                    <div style="float: right;margin-right: 12px;margin-top: 3px;margin-left: 5px;" style="width:19%">
														<button v-show="cha" type="button" class="btn btn-icon btn-dark" v-on:click="executeQuery" title="执行SQL"><i class="feather icon-play"></i></button>
													</div>
				                                 </div>
				                                 </td>
			                                 </tr>
		                                 </table>
		                                 </div>
		                                 
										<div class="card-block table-border-style" style="margin-top: -15px">
                                            <div class="table-responsive">
                                                <table class="table table-hover">
													<thead id="theadid">
														<tr id="columnList">
															<th>字段</th>
														</tr>
													</thead>
											
													<tbody id="valuelist">
														<tr class='center'>
															<td>数据显示区</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>	
										<div class="card-block table-border-style" style="margin-top: -15px">
                                            <div class="table-responsive">
                                                <table class="table table-hover">
													<tr>
														<td style="width:120px;">
															<div id="theadid2">查询时间 &nbsp;s</div>
														</td>
														<td style="width:66px;">
															<div id="fhcount">共 &nbsp;条</div>
														</td>
														<td style="padding-top:16px;">
															<div id="exceldiv">
																<i v-show="toExcel" class="mdi mdi-cloud-download" style="cursor:pointer;" v-on:click="goExcel" title="导出到EXCEL"></i>
															</div>
														</td>
														<td v-show="loading">
															<!-- [加载状态 ] start -->
													    	<div class="d-flex justify-content-center" style="margin-top:-10px;">
					                                            <div class="spinner-grow spinner-grow-sm" role="status">
					                                                <span class="sr-only">Loading...</span>
					                                            </div>
					                                        </div>
													    	<!-- [ 加载状态  ] End -->
														</td>
														<td></td>
													</tr>
												</table>
											</div>
										</div>
										<textarea rows="" cols="" id="sqlstrforExcel" style="display: none;"></textarea>
									</div>
								</div>
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- [ 主内容区 ] end -->
    
<script type="text/javascript" src="../../../assets/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../../../assets/js/pre-loader.js"></script>
<script type="text/javascript" src="../../../assets/plugins/sweetalert/js/sweetalert.min.js"></script>

<!-- 表单验证提示 -->
<script type="text/javascript" src="../../../assets/js/jquery.tips.js"></script>

<!-- 本页面js -->
<script type="text/javascript" src="../../../assets/js-v/fhdb/sql_edit.js"></script>

</body>
</html>