<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>FH Admin</title>
		<!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 10]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
		<!-- Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="author" content="FH Admin QQ313596790" />

		<link rel="icon" href="../../../assets/images/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="../../../assets/fonts/fontawesome/css/fontawesome-all.min.css">
		<link rel="stylesheet" href="../../../assets/plugins/animation/css/animate.min.css">
		<link rel="stylesheet" href="../../../assets/css/style.css">

		<!-- 日期插件 -->
		<link rel="stylesheet"
			href="../../../assets/plugins/material-datetimepicker/css/bootstrap-material-datetimepicker.css">

		<!-- select插件 -->
		<link rel="stylesheet" href="../../../assets/plugins/select2/css/select2.min.css">
		<link rel="stylesheet" href="../../../assets/plugins/multi-select/css/multi-select.css">

		<!-- vue -->
		<script src="../../../assets/js-vue/vue.js"></script>
		<!--全局配置-->
		<script src="../../../assets/js-v/config.js"></script>

	</head>

	<body style="background-color: white">

		<!-- [加载状态 ] start -->
		<div class="loader-bg">
			<div class="loader-track">
				<div class="loader-fill"></div>
			</div>
		</div>
		<!-- [ 加载状态  ] End -->

		<!-- [ 主内容区 ] start -->
		<div class="pcoded-wrapper" id="app">
			<div class="pcoded-content">
				<div class="pcoded-inner-content">
					<div class="main-body">
						<div class="page-wrapper">
							<!-- [ Main Content ] start -->
							<div class="row">

								<div style="width: 100%;">
									<div id="showform">
										<div class="input-group input-group-sm mb-3" style="margin-top: -10px;">
											<div class="input-group-prepend">
												<span class="input-group-text" style="width: 79px;"><span
														style="width: 100%;">队列名称</span></span>
											</div>
											<input type="text" class="form-control" ref="NAME" id="NAME"
												v-model="pd.NAME" maxlength="24" placeholder="这里输入队列名称" title="队列名称"
												disabled="disabled">
										</div>
										<div class="input-group input-group-sm mb-3" style="margin-top: -10px;">
											<div class="input-group-prepend">
												<span class="input-group-text" style="width: 79px;"><span
														style="width: 100%;">队列编号</span></span>
											</div>
											<input type="text" class="form-control" ref="CODE" id="CODE"
												v-model="pd.CODE" maxlength="24" placeholder="这里输入队列编号" title="队列编号"
												disabled="disabled">
										</div>

										<div class="input-group input-group-sm mb-3" style="margin-top: -10px;">
											<div class="input-group-prepend">
												<span class="input-group-text" style="width: 79px;"><span
														style="width: 100%;">票号前缀</span></span>
											</div>
											<input type="text" class="form-control" ref="PREFIX" id="PREFIX"
												v-model="pd.PREFIX" maxlength="50" placeholder="这里输入票号前缀" title="票号前缀"
												disabled="disabled">
										</div>
										<div class="input-group input-group-sm mb-3" style="margin-top: -10px;">
											<div class="input-group-prepend">
												<span class="input-group-text" style="width: 79px;"><span
														style="width: 100%;">初始号码</span></span>
											</div>
											<input type="text" class="form-control" ref="NO_START" id="NO_START"
												v-model="pd.NO_START" maxlength="50" placeholder="这里输入初始号码" title="初始号码"
												disabled="disabled">
										</div>
										<div class="input-group input-group-sm mb-3" style="margin-top: -10px;">
											<div class="input-group-prepend">
												<span class="input-group-text" style="width: 79px;"><span
														style="width: 100%;">结束号码</span></span>
											</div>
											<input type="text" class="form-control" ref="NO_END" id="NO_END"
												v-model="pd.NO_END" maxlength="50" placeholder="这里输入结束号码" title="结束号码"
												disabled="disabled">
										</div>
										<div class="input-group input-group-sm mb-3" style="margin-top: -10px;">
											<div class="input-group-prepend">
												<span class="input-group-text" style="width: 79px;"><span
														style="width: 100%;">上午限号</span></span>
											</div>
											<input type="text" class="form-control" ref="LIMIT_AM" id="LIMIT_AM"
												v-model="pd.LIMIT_AM" maxlength="50" placeholder="这里输入上午限号" title="上午限号"
												disabled="disabled">
										</div>
										<div class="input-group input-group-sm mb-3" style="margin-top: -10px;">
											<div class="input-group-prepend">
												<span class="input-group-text" style="width: 79px;"><span
														style="width: 100%;">下午限号</span></span>
											</div>
											<input type="text" class="form-control" ref="LIMIT_PM" id="LIMIT_PM"
												v-model="pd.LIMIT_PM" maxlength="50" placeholder="这里输入下午限号" title="下午限号"
												disabled="disabled">
										</div>
										<div class="input-group input-group-sm mb-3" style="margin-top: -10px;">
											<div class="input-group-prepend">
												<span class="input-group-text" style="width: 79px;"><span
														style="width: 100%;">全天限号</span></span>
											</div>
											<input type="text" class="form-control" ref="LIMIT" id="LIMIT"
												v-model="pd.LIMIT" maxlength="50" placeholder="这里输入全天限号" title="全天限号"
												disabled="disabled">
										</div>
										<div class="input-group input-group-sm mb-3" style="margin-top: -10px;">
											<div class="input-group-prepend">
												<span class="input-group-text" style="width: 79px;"><span
														style="width: 100%;">票号长度</span></span>
											</div>
											<input type="text" class="form-control" ref="NO_LENGTH" id="NO_LENGTH"
												v-model="pd.NO_LENGTH" maxlength="50" placeholder="这里输入票号长度"
												title="票号长度" disabled="disabled">
										</div>

									</div>
									<!-- [加载状态 ] start -->
									<div id="jiazai" style="display:none;margin-top:50px;">
										<div class="d-flex justify-content-center">
											<div class="spinner-border" style="width: 3rem; height: 3rem;"
												role="status">
												<span class="sr-only">Loading...</span>
											</div>
										</div>
									</div>
									<!-- [ 加载状态  ] End -->
								</div>

							</div>
							<!-- [ Main Content ] end -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- [ 主内容区 ] end -->

		<script type="text/javascript" src="../../../assets/js/jquery-1.7.2.js"></script>
		<script type="text/javascript" src="../../../assets/js/pre-loader.js"></script>
		<script src="../../../assets/plugins/sweetalert/js/sweetalert.min.js"></script>

		<!-- 日期插件 -->
		<script src="../../../assets/js/pages/moment-with-locales.min.js"></script>
		<script src="../../../assets/plugins/material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
		<script src="../../../assets/js/pages/form-picker-custom.js"></script>

		<!-- select插件 -->
		<script src="../../../assets/plugins/select2/js/select2.full.min.js"></script>
		<script src="../../../assets/plugins/multi-select/js/jquery.quicksearch.js"></script>
		<script src="../../../assets/plugins/multi-select/js/jquery.multi-select.js"></script>
		<script src="../../../assets/js/pages/form-select-custom.js"></script>

		<!-- 表单验证提示 -->
		<script src="../../../assets/js/jquery.tips.js"></script>

		<script type="text/javascript">
			var vm = new Vue({
				el: '#app',

				data: {
					QUEUE_ID: '', //主键ID
					pd: [] //存放字段参数
				},

				methods: {

					//初始执行
					init() {
						var FID = this.getUrlKey('FID'); //接收过来的FID
						if (null != FID) {
							this.QUEUE_ID = FID;
							this.getData();
						}
						setTimeout(function() {
							vm.getDict();
						}, 200);
					},

					//根据主键ID获取数据
					getData: function() {
						//发送 post 请求
						$.ajax({
							xhrFields: {
								withCredentials: true
							},
							type: "POST",
							url: httpurl + 'queue/goView',
							data: {
								QUEUE_ID: this.QUEUE_ID,
								tm: new Date().getTime()
							},
							dataType: "json",
							success: function(data) {
								if ("success" == data.result) {
									vm.pd = data.pd; //参数map
								} else if ("exception" == data.result) {
									showException("队列信息", data.exception); //显示异常
									$("#showform").show();
									$("#jiazai").hide();
								}
							}
						}).done().fail(function() {
							swal("登录失效!", "请求服务器无响应，稍后再试", "warning");
							$("#showform").show();
							$("#jiazai").hide();
						});
					},

					//获取数据字典数据
					getDict: function() {},

					//根据url参数名称获取参数值
					getUrlKey: function(name) {
						return decodeURIComponent(
							(new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.href) || [,
								""
							])[1].replace(/\+/g, '%20')) || null;
					}
				},
				mounted() {
					this.init();
				}
			})
		</script>

	</body>
</html>
