<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>FH Admin</title>
    <!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 10]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
    <!-- Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="FH Admin QQ313596790" />

    <link rel="icon" href="../../../assets/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../../assets/fonts/fontawesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="../../../assets/plugins/animation/css/animate.min.css">
    <link rel="stylesheet" href="../../../assets/css/style.css">

    <!-- vue -->
	<script src="../../../assets/js-vue/vue.js"></script>
    <!--全局配置-->
    <script src="../../../assets/js-v/config.js"></script>

</head>

<body>
    
    <!-- [加载状态 ] start -->
    <div class="loader-bg">
        <div class="loader-track">
            <div class="loader-fill"></div>
        </div>
    </div>
    <!-- [ 加载状态  ] End -->

    <!-- [ 主内容区 ] start -->
        <div class="pcoded-wrapper" id="app">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">

							    <!-- [ Hover-table ] start -->
                                <div class="col-xl-12">
                                    <div class="card">
         
										<!-- 检索条件  -->
									   <div style="padding-left: 15px;padding-top: 15px;">
									   <table>
											<tr>
												<td>
													<div class="input-group input-group-sm mb-3">
						                            	<input class="form-control" type="text" v-model="KEYWORDS" placeholder="这里输入关键词" />
						                        	</div>
												</td>
												<td style="vertical-align:top;padding-left:5px;">
													<select v-model="ALL_ID" style="height: 30px;width:43px;padding-left:6px;border: 1px solid #CED4DA;transparent;appearance:none;-moz-appearance:none;-webkit-appearance:none;">
														<option v-bind:value="DICTIONARIES_ID">本级</option>
														<option v-bind:value="''">全部</option>
													</select>
												</td>
												<td style="vertical-align:top;padding-left:5px;">
													<a class="btn btn-light btn-sm" v-on:click="getList(DICTIONARIES_ID,2)" style="width: 23px;height:30px;margin-top:1px;" title="检索"><i style="margin-top:-3px;margin-left: -6px;"  class="feather icon-search"></i></a>
												</td>
												<td v-show="loading">
													<!-- [加载状态 ] start -->
											    	<div class="d-flex justify-content-center" style="margin-top:-10px;">
			                                            <div class="spinner-grow spinner-grow-sm" role="status">
			                                                <span class="sr-only">Loading...</span>
			                                            </div>
			                                        </div>
											    	<!-- [ 加载状态  ] End -->
												</td>
											</tr>
										</table>
										</div>
										<!-- 检索  -->
									
										<div class="card-block table-border-style" style="margin-top: -15px">
                                           	<div class="table-responsive">
												<table class="table table-hover">
													<thead>
														<tr>
															<th style="width:50px;">NO</th>
															<th>名称</th>
															<th>英文</th>
															<th>编码</th>
															<th style="width:150px;">ID</th>
															<th>排序</th>
															<th>操作</th>
														</tr>
													</thead>
																			
													<tbody>
													<!-- 开始循环 -->	
														<template v-for="(data,index) in varList">
															<tr>
																<td style="width: 30px;" scope="row">{{page.showCount*(page.currentPage-1)+index+1}}</td>
																<td><a v-on:click="getList(data.DICTIONARIES_ID,1)" style="cursor:pointer;">{{data.NAME}} <i class="feather icon-chevron-down"></i></a></td>
																<td><a v-on:click="getList(data.DICTIONARIES_ID,1)" style="cursor:pointer;">{{data.NAME_EN}}</a></td>
																<td>{{data.BIANMA}}</td>
																<td>{{data.DICTIONARIES_ID}}</td>
																<td>{{data.ORDER_BY}}</td>
																<td>
																	<a v-show="edit" title="修改" v-on:click="goEdit(data.DICTIONARIES_ID)" style="cursor:pointer;"><i class="feather icon-edit-2"></i></a>
									                     			<template v-if="del">
									                     				<template v-if="'yes' != data.YNDEL">
									                     					<a title="删除" v-on:click="goDel(data.DICTIONARIES_ID)" style="cursor:pointer;"><i class="feather icon-x"></i></a>
									                     				</template>
									                     			</template>
																</td>
															</tr>
														</template>
														<tr v-show="varList.length==0">
															<td colspan="10">没有相关数据</td>
														</tr>
													</tbody>
												</table>
												<table style="width:100%;margin-top:15px;">
													<tr>
														<td style="vertical-align:top;">
															<a v-show="add" class="btn btn-light btn-sm" v-on:click="goAdd(DICTIONARIES_ID)">新增</a>
															<template v-if="'0' != DICTIONARIES_ID">
															<a class="btn btn-light btn-sm" v-on:click="getList(PARENT_ID,1)">返回</a>
															</template>
														</td>
														<td style="vertical-align:top;"><div style="float: right;padding-top: 0px;margin-top: 0px;" v-html="page.pageStr"></div></td>
													</tr>
												</table>
											</div>
                                       	</div>
							
	                                </div>
	                            </div>
	                            <!-- [ Hover-table ] end -->

	                        </div>
	                        <!-- [ Main Content ] end -->
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	<!-- [ 主内容区 ] end -->
    
<script type="text/javascript" src="../../../assets/js/jquery-1.7.2.js"></script>
<script type="text/javascript" src="../../../assets/js/pre-loader.js"></script>
<script type="text/javascript" src="../../../assets/plugins/sweetalert/js/sweetalert.min.js"></script>

<!-- 表单验证提示 -->
<script type="text/javascript" src="../../../assets/js/jquery.tips.js"></script>

<!-- 本页面js -->
<script type="text/javascript" src="../../../assets/js-v/sys/dictionaries_list.js"></script>

</body>
</html>