<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>FH Admin</title>
    <!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 10]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
    <!-- Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="FH Admin QQ313596790" />

    <link rel="icon" href="../../../assets/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../../assets/fonts/fontawesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="../../../assets/plugins/animation/css/animate.min.css">
    <link rel="stylesheet" href="../../../assets/css/style.css">
    
    <!-- vue -->
	<script src="../../../assets/js-vue/vue.js"></script>
    <!--全局配置-->
    <script src="../../../assets/js-v/config.js"></script>

</head>

<body style="background-color: white">
    
    <!-- [加载状态 ] start -->
    <div class="loader-bg">
        <div class="loader-track">
            <div class="loader-fill"></div>
        </div>
    </div>
    <!-- [ 加载状态  ] End -->

    <!-- [ 主内容区 ] start -->
        <div class="pcoded-wrapper" id="app">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
	    
							   <div style="width: 100%;">
							    <div id="showform">
							    
							    	<h6 style="padding-left: 6px;">上级：{{'0' == PARENT_ID ?'(无) 此项为顶级':pds.NAME}}</h6>
						            
						            <div class="input-group input-group-sm mb-3">
	                                    <div class="input-group-prepend">
	                                        <span class="input-group-text" style="width: 79px;"><span style="width: 100%;">名称</span></span>
	                                    </div>
	                                    <input type="text" class="form-control" ref="NAME" id="NAME" v-model="pd.NAME" maxlength="32" placeholder="这里输入名称" title="名称">
	                                </div>
						            <div class="input-group input-group-sm mb-3" style="margin-top: -10px;">
	                                    <div class="input-group-prepend">
	                                        <span class="input-group-text" style="width: 79px;"><span style="width: 100%;">英文</span></span>
	                                    </div>
	                                    <input type="text" class="form-control" ref="NAME_EN" id="NAME_EN" v-model="pd.NAME_EN" maxlength="32" placeholder="这里输入英文名称" title="英文名称">
	                                </div>
	                                <div class="input-group input-group-sm mb-3" style="margin-top: -10px;">
	                                    <div class="input-group-prepend">
	                                        <span class="input-group-text" style="width: 79px;"><span style="width: 100%;">编码</span></span>
	                                    </div>
	                                    <template v-if="msg == 'add'">
	                                    	<input type="text" class="form-control" ref="BIANMA" id="BIANMA" v-model.trim="pd.BIANMA" maxlength="32" placeholder="这里输入编码 (不重复, 禁止修改)" title="编码" v-bind:readonly="msg == 'edit'" v-on:blur="hasBianma">
	                                    </template>
	                                    <template v-else >
	                                    	<input type="text" class="form-control" ref="BIANMA" id="BIANMA" v-model.trim="pd.BIANMA" maxlength="32" placeholder="这里输入编码 (不重复, 禁止修改)" title="编码" v-bind:readonly="msg == 'edit'">
	                                    </template>
	                                </div>
	                                <div class="input-group input-group-sm mb-3" style="margin-top: -10px;">
	                                    <div class="input-group-prepend">
	                                        <span class="input-group-text" style="width: 79px;"><span style="width: 100%;">排序</span></span>
	                                    </div>
	                                    <input type="number" class="form-control" ref="ORDER_BY" id="ORDER_BY" v-model.number="pd.ORDER_BY" maxlength="32" placeholder="这里输入排序" title="排序">
	                                </div>
	                                <div class="input-group input-group-sm mb-3" style="margin-top: -10px;">
	                                    <div class="input-group-prepend">
	                                        <span class="input-group-text" style="width: 79px;"><span style="width: 100%;">备注</span></span>
	                                    </div>
	                                    <input class="form-control" type="text" ref="BZ" id="BZ"  v-model="pd.BZ"  maxlength="50" placeholder="这里输入备注说明" title="备注说明" >
	                                </div>
						            <div class="input-group input-group-sm mb-3" style="margin-top: -10px;">
	                                    <div class="input-group-prepend">
	                                        <span class="input-group-text" style="width: 79px;"><span style="width: 100%;">排查表</span></span>
	                                    </div>
	                                    <input type="text" class="form-control" ref="TBSNAME" id="TBSNAME" v-model="pd.TBSNAME" maxlength="100" placeholder="这里输入表名, 多个用逗号分隔(非必录)" title="排查表">
	                                </div>
	                                <div class="input-group input-group-sm mb-3" style="margin-top: -10px;">
	                                    <div class="input-group-prepend">
	                                        <span class="input-group-text" style="width: 79px;"><span style="width: 100%;">关联字段</span></span>
	                                    </div>
	                                    <input type="text" class="form-control" ref="TBFIELD" id="TBFIELD" v-model="pd.TBFIELD" maxlength="32" placeholder="这这里输入关联字段,默认:BIANMA(非必录)" title="关联字段">
	                                </div>
	                                <template v-if="msg == 'add'">
									<h6 style="padding-left: 6px;margin-top: -5px;">排查表：删除此条数据时会去此表查询是否被占用(是:禁止删除)</h6>
									<div class="input-group input-group-sm mb-3" style="margin-top: 0px;">
						                <div class="input-group-prepend">
	                                        <span class="input-group-text" style="width: 79px;"><span style="width: 100%;">禁止删除</span></span>
	                                    </div>
					                    <div class="switch switch-info d-inline m-r-10" style="margin-top: -7px;margin-left: 10px;">
                                             <input type="checkbox" id="switch-i-1" v-model="checked">
                                             <label for="switch-i-1" class="cr"></label>
                                        </div>
						            </div>
						            </template>
						            <div class="input-group" style="margin-top:10px;background-color: white" >
						            	<span style="width: 100%;text-align: center;">
						            		<a class="btn btn-light btn-sm" v-on:click="save">保存</a>
						            		<a class="btn btn-light btn-sm" onclick="top.Dialog.close();">取消</a>
						            	</span>
						            </div>
						        </div>
						           
								<!-- [加载状态 ] start -->
							    <div id="jiazai" style="display:none;margin-top:50px;">
							    	<div class="d-flex justify-content-center">
                                        <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                                               <span class="sr-only">Loading...</span>
                                           </div>
                                       </div>
                                   </div>
							    <!-- [ 加载状态  ] End -->
						           
							   </div>
	    
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- [ 主内容区 ] end -->
    
<script type="text/javascript" src="../../../assets/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../../../assets/js/pre-loader.js"></script>
<script type="text/javascript" src="../../../assets/plugins/sweetalert/js/sweetalert.min.js"></script>
<!-- 表单验证提示 -->
<script type="text/javascript" src="../../../assets/js/jquery.tips.js"></script>
    
<!-- 本页面js -->
<script type="text/javascript" src="../../../assets/js-v/sys/dictionaries_edit.js"></script>

</body>
</html>