<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>FH Admin</title>
    <!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 10]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
    <!-- Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="FH Admin QQ313596790" />

    <link rel="icon" href="../../../assets/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../../assets/fonts/fontawesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="../../../assets/plugins/animation/css/animate.min.css">
    <link rel="stylesheet" href="../../../assets/css/style.css">
    
    <!-- vue -->
	<script src="../../../assets/js-vue/vue.js"></script>
    <!--全局配置-->
    <script src="../../../assets/js-v/config.js"></script>

</head>

<body>
    
    <!-- [加载状态 ] start -->
    <div class="loader-bg">
        <div class="loader-track">
            <div class="loader-fill"></div>
        </div>
    </div>
    <!-- [ 加载状态  ] End -->

    <!-- [ 主内容区 ] start -->
        <div class="pcoded-wrapper" id="app">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">

							    <!-- [ Hover-table ] start -->
                                <div class="col-xl-12">
                                    <div class="card">
			                           
										<div style="padding-left: 25px;padding-top: 15px;">
											<div>
												<h6 class="card-title" style="padding-left: 5px;">连接数据库</h6>
												<table>
													<tr id="fhdb">
														<td>
															<div class="input-group input-group-sm mb-3">
							                                    <div class="input-group-prepend">
							                                        <span class="input-group-text" style="width: 79px;"><span style="width: 100%;">数据库</span></span>
							                                    </div>
							                                    <select v-model="dbtype" id="dbtype" data-placeholder="请选择数据库" v-on:change="selectDb"  style="padding-left:5px;vertical-align:top;width: 200px;border: 1px solid #CED4DA;transparent;appearance:none;-moz-appearance:none;-webkit-appearance:none;">
																	<option value="mysql">Mysql</option>
																	<option value="oracle">Oracle</option>
																	<option value="sqlserver">Sqlserver</option>
																</select>
							                                 </div>
							                                 <div class="input-group input-group-sm mb-3" style="margin-top: -10px;">
							                                    <div class="input-group-prepend">
							                                        <span class="input-group-text" style="width: 79px;"><span style="width: 100%;">用户名</span></span>
							                                    </div>
							                                    <input class="form-control"  type="text" v-model="username" id="username"  maxlength="32" placeholder="输入用户名" title="用户名"/>
							                                </div>
														</td>
														<td>
															 <div class="input-group input-group-sm mb-3">
							                                    <div class="input-group-prepend">
							                                        <span class="input-group-text" style="width: 79px;"><span style="width: 100%;">地址</span></span>
							                                    </div>
							                                    <input type="text" class="form-control" v-model="dbAddress" id="dbAddress" maxlength="200" placeholder="数据库连接地址" title="数据库连接地址"/>
							                                 </div>
							                                 <div class="input-group input-group-sm mb-3" style="margin-top: -10px;">
							                                    <div class="input-group-prepend">
							                                        <span class="input-group-text" style="width: 79px;"><span style="width: 100%;">密码</span></span>
							                                    </div>
							                                    <input class="form-control" type="password" v-model="password" id="password"  maxlength="32" placeholder="输入密码" title="密码"/>
							                                </div>
														</td>
														<td>
															<div class="input-group input-group-sm mb-3">
							                                    <div class="input-group-prepend">
							                                        <span class="input-group-text" style="width: 79px;"><span style="width: 100%;">端口</span></span>
							                                    </div>
							                                    <input class="form-control"  type="number" v-model="dbport" id="dbport" maxlength="10" placeholder="输入端口" title="端口"/>
							                                </div>
							                                <div class="input-group input-group-sm mb-3" style="margin-top: -10px;">
							                                    <div class="input-group-prepend">
							                                        <span class="input-group-text" style="width: 79px;"><span style="width: 100%;">库名</span></span>
							                                    </div>
							                                    <input class="form-control" type="text" v-model="databaseName" id="databaseName"  maxlength="32" placeholder="输入数据库名" title="数据库名"/>
							                                </div>
														</td>
														<td style="padding-left: 10px;">
															<button type="button" class="btn btn-dark btn-sm" v-on:click="connDb" data-toggle="tooltip" data-original-title="btn btn-dark">连接</button>
														</td>
														<td v-show="loading">
														<!-- [加载状态 ] start -->
												    	<div class="d-flex justify-content-center" style="margin-top:-6px;">
				                                            <div class="spinner-grow spinner-grow-sm" role="status">
				                                                <span class="sr-only">Loading...</span>
				                                            </div>
				                                        </div>
												    	<!-- [ 加载状态  ] End -->
														</td>
													</tr>
												</table>
											</div>
										</div>
										<div class="card-block table-border-style" style="margin-top: -15px">
                                            <div class="table-responsive">
                                                <table class="table table-hover">
												<thead>
													<tr>
														<th class="center" style="width:50px;">NO</th>
														<th style="width:220px;">表名</th>
														<th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;操作</th>
														<th style="width:50px;">NO</th>
														<th style="width:220px;">表名</th>
														<th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;操作</th>
													</tr>
												</thead>
																	
												<tbody id="valuelist">
													<tr class='center'>
														<td colspan="10">数据显示区</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
									
                                    </div>
                                </div>
                                <!-- [ Hover-table ] end -->

                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- [ 主内容区 ] end -->
    
<script type="text/javascript" src="../../../assets/js/jquery-1.7.2.js"></script>
<script type="text/javascript" src="../../../assets/js/pre-loader.js"></script>
<script type="text/javascript" src="../../../assets/plugins/sweetalert/js/sweetalert.min.js"></script>
<!-- 表单验证提示 -->
<script type="text/javascript" src="../../../assets/js/jquery.tips.js"></script>

<!-- 本页面js -->
<script type="text/javascript" src="../../../assets/js-v/tools/recreatecode_list.js"></script>

</body>
</html>