<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>FH Admin</title>
		<!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 10]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
		<!-- Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="author" content="FH Admin QQ313596790" />

		<link rel="icon" href="../../../assets/images/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="../../../assets/fonts/fontawesome/css/fontawesome-all.min.css">
		<link rel="stylesheet" href="../../../assets/plugins/animation/css/animate.min.css">
		<link rel="stylesheet" href="../../../assets/css/style.css">

		<!-- 日期插件 -->
		<link rel="stylesheet"
			href="../../../assets/plugins/material-datetimepicker/css/bootstrap-material-datetimepicker.css">

		<!-- select插件 -->
		<link rel="stylesheet" href="../../../assets/plugins/select2/css/select2.min.css">
		<link rel="stylesheet" href="../../../assets/plugins/multi-select/css/multi-select.css">

		<!-- vue -->
		<script src="../../../assets/js-vue/vue.js"></script>
		<!--全局配置-->
		<script src="../../../assets/js-v/config.js"></script>

	</head>

	<body style="background-color: white">

		<!-- [加载状态 ] start -->
		<div class="loader-bg">
			<div class="loader-track">
				<div class="loader-fill"></div>
			</div>
		</div>
		<!-- [ 加载状态  ] End -->

		<!-- [ 主内容区 ] start -->
		<div class="pcoded-wrapper" id="app">
			<div class="pcoded-content">
				<div class="pcoded-inner-content">
					<div class="main-body">
						<div class="page-wrapper">
							<!-- [ Main Content ] start -->
							<div class="row">

								<div style="width: 100%;">
									<div id="showform">

										<div class="input-group input-group-sm mb-3">
											<div class="input-group-prepend">
												<span class="input-group-text" style="width: 79px;"><span
														style="width: 100%;">关联队列</span></span>
											</div>
											<!-- <input type="text" class="form-control" ref="NAME" id="NAME" 
												placeholder="这里输入关联队列" title="关联队列"> -->
											<select class="form-control js-example-placeholder-multiple col-sm-12"
												ref="QUEUE_ID" id="QUEUE_ID" data-placeholder="请选择关联队列">
												<option value=""></option>
												<template v-for="data in pd">
													<template v-if="data.QUEUE_ID == pd.QUEUE_ID">
														<option v-bind:value="data.QUEUE_ID+','+data.TYPE" selected>
															{{data.NAME}}
														</option>
													</template>
													<template v-else>
														<option v-bind:value="data.QUEUE_ID+','+data.TYPE">{{data.NAME}}
														</option>
													</template>
												</template>
											</select>
										</div>

										<div class="input-group input-group-sm mb-3" style="margin-top: -10px;">
											<div class="input-group-prepend">
												<span class="input-group-text" style="width: 79px;"><span
														style="width: 100%;">优先级</span></span>
											</div>
											<input type="number" class="form-control" ref="LEVEL" id="LEVEL"
												maxlength="24" placeholder="这里输入优先级" title="优先级">
										</div>



										<div class="input-group" style="margin-top:10px;background-color: white">
											<span style="width: 100%;text-align: center;">
												<a class="btn btn-light btn-sm" v-on:click="save">保存</a>
												<a class="btn btn-light btn-sm" onclick="top.Dialog.close();">取消</a>
											</span>
										</div>
									</div>
									<!-- [加载状态 ] start -->
									<div id="jiazai" style="display:none;margin-top:50px;">
										<div class="d-flex justify-content-center">
											<div class="spinner-border" style="width: 3rem; height: 3rem;"
												role="status">
												<span class="sr-only">Loading...</span>
											</div>
										</div>
									</div>
									<!-- [ 加载状态  ] End -->
								</div>

							</div>
							<!-- [ Main Content ] end -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- [ 主内容区 ] end -->

		<script type="text/javascript" src="../../../assets/js/jquery-1.7.2.js"></script>
		<script type="text/javascript" src="../../../assets/js/pre-loader.js"></script>
		<script src="../../../assets/plugins/sweetalert/js/sweetalert.min.js"></script>

		<!-- 日期插件 -->
		<script src="../../../assets/js/pages/moment-with-locales.min.js"></script>
		<script src="../../../assets/plugins/material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
		<script src="../../../assets/js/pages/form-picker-custom.js"></script>

		<!-- select插件 -->
		<script src="../../../assets/plugins/select2/js/select2.full.min.js"></script>
		<script src="../../../assets/plugins/multi-select/js/jquery.quicksearch.js"></script>
		<script src="../../../assets/plugins/multi-select/js/jquery.multi-select.js"></script>
		<script src="../../../assets/js/pages/form-select-custom.js"></script>

		<!-- 表单验证提示 -->
		<script src="../../../assets/js/jquery.tips.js"></script>

		<script type="text/javascript">
			var vm = new Vue({
				el: '#app',
				data: {
					pd: [],
					ROOM_ID: ''
				},
				methods: {
					//初始执行
					init() {
						var FID = this.getUrlKey('ROOM_ID'); //链接参数
						this.ROOM_ID = FID;
						this.getAllQueue();

					},
					getAllQueue: function() {
						$.ajax({
							xhrFields: {
								withCredentials: true
							},
							type: "POST",
							url: httpurl + 'queue/notMappingOrgan',
							data: {},
							dataType: "json",
							success: function(data) {
								if ("success" == data.result) {
									vm.pd = data.pd; //参数map
									console.log(vm.pd);
								} else if ("exception" == data.result) {
									showException("队列列表", data.exception); //显示异常
									$("#showform").show();
									$("#jiazai").hide();
								}
							}
						}).done().fail(function() {
							swal("登录失效!", "请求服务器无响应，稍后再试", "warning");
							$("#showform").show();
							$("#jiazai").hide();
						});
					},

					save: function() {
						console.log(this.ROOM_ID);
						var ID = $("#QUEUE_ID").val().split(',')[0];
						var LEVEL = $("#LEVEL").val();
						var TYPE = $("#QUEUE_ID").val().split(',')[1];
						var DOCTOR_ID = '';
						if (TYPE == 2) {
							DOCTOR_ID = ID;
						}

						console.log(ID + "," + LEVEL);
						// return;

						if (ID == '' || ID == undefined) {
							$("#QUEUE_ID").tips({
								side: 3,
								msg: '请选择关联队列',
								bg: '#AE81FF',
								time: 2
							});
							ID = '';
							this.$refs.QUEUE_ID.focus();
							return false;
						}

						$.ajax({
							xhrFields: {
								withCredentials: true
							},
							type: "POST",
							url: httpurl + 'queuemaping/add',
							data: {
								ORGAN_ID: this.ROOM_ID,
								QUEUE_ID: ID,
								LEVEL: LEVEL,
								TYPE: TYPE,
								DOCTOR_ID:DOCTOR_ID
							},
							dataType: "json",
							success: function(data) {
								if ("success" == data.result) {

									swal("", "保存成功", "success");
									setTimeout(function() {
										top.Dialog.close(); //关闭弹窗
									}, 1000);

									// vm.getAllQueue();
									// parent.vm.getList(this.ROOM_ID);
								} else if ("exception" == data.result) {
									showException("队列关联", data.exception); //显示异常
									$("#showform").show();
									$("#jiazai").hide();
								}
							}
						}).done().fail(function() {
							swal("登录失效!", "请求服务器无响应，稍后再试", "warning");
							$("#showform").show();
							$("#jiazai").hide();
						});

					},


					//根据url参数名称获取参数值
					getUrlKey: function(name) {
						return decodeURIComponent(
							(new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.href) || [,
								""
							])[1].replace(/\+/g, '%20')) || null;
					}

				},
				mounted() {
					this.init();
				}
			})
		</script>
	</body>
</html>
