<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>FH Admin</title>
    <!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 10]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
    <!-- Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="FH Admin QQ313596790" />

    <link rel="icon" href="../assets/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../assets/fonts/fontawesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="../assets/plugins/animation/css/animate.min.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/layouts/dark.css">
    
    <!-- 登录页动态效果 -->
	<link rel="stylesheet" href="../assets/login/css/templatemo-style.css">
	
	<!-- vue -->
	<script src="../assets/js-vue/vue.js"></script>
    <!--全局配置-->
    <script src="../assets/js-v/config.js"></script>
	
</head>

<body>
	
	<!-- 登录页动态效果 -->
	<div id="particles-js"></div>
	
    <div id="app" class="auth-wrapper aut-bg-img" style="background-image: url('../assets/images/bg-images/bg3.jpg');">
        <div class="auth-content">
            <div class="text-white">
                <div class="card-body text-center">
                    <div class="mb-4">
                        <i class="feather icon-unlock auth-icon"></i>
                    </div>
                    <h3 class="mb-4 text-white">FH Admin</h3>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="请输入用户名" id="USERNAME" v-model.trim="USERNAME" v-focus="FUSER" ref="FUSER" >
                    </div>
                    <div class="input-group mb-4">
                        <input type="password" class="form-control" placeholder="请输入密码" id="PASSWORD" v-model="PASSWORD" v-focus="FPSW" ref="FPSW" >
                    </div>
                    <div class="form-group text-left">
                        <div class="checkbox checkbox-fill d-inline">
                            <input type="checkbox" id="checkbox-fill-a1" v-model="CHECKED" v-on:click="savePaw">
                            <label for="checkbox-fill-a1" class="cr"> 记住密码</label>
                        </div>
                    </div>
                    <button class="btn btn-primary shadow-2 mb-4" id="to-login" v-on:click="login">登录</button>
                    <p class="mb-0 text-muted">没有帐户? <a class="text-white" href="register.html">注册</a></p>
                </div>
            </div>
        </div>
    </div>

    <!-- Required Js -->
    <script type="text/javascript" src="../assets/js/vendor-all.min.js"></script>
    <script type="text/javascript" src="../assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    
	<script type="text/javascript" src="../assets/plugins/sweetalert/js/sweetalert.min.js"></script>

    <!-- 登录页动态效果 -->
    <script type="text/javascript" src="../assets/login/js/particles.js"></script>
	<script type="text/javascript" src="../assets/login/js/app.js"></script>
	
	<!-- 表单验证提示插件 -->
	<script type="text/javascript" src="../assets/js/jquery.tips.js"></script>
	
	<!-- 登录表单提交 -->
	<script type="text/javascript" src="../assets/js-v/login.js"></script>
	
</body>
</html>
