<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>FH Admin</title>
    <!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 10]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
    <!-- Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="FH Admin QQ313596790" />

    <link rel="icon" href="../../../assets/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../../assets/fonts/fontawesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="../../../assets/plugins/animation/css/animate.min.css">
    <link rel="stylesheet" href="../../../assets/css/style.css">
    
	<!-- 代码编辑器 -->
    <script src="../../../plugins/codeEditor/jquery.min.js"></script>
    <script>
        var codetype="java";
        var unid="59396e99ae344";
    </script>
    <script src="../../../plugins/codeEditor/runcode.js"></script>
	<style type="text/css" media="screen">
   		#editor { 
      			 //position: absolute;
      			 width: 100%;
      			 height: 600px;
      			 float: left;
       		font-size: 14px;
  				 }
	</style>
	<!-- 代码编辑器 -->
	
	<!--全局配置-->
    <script src="../../../assets/js-v/config.js"></script>
	
</head>
<body>

<!-- [加载状态 ] start -->
<div class="loader-bg">
    <div class="loader-track">
        <div class="loader-fill"></div>
    </div>
</div>
<!-- [ 加载状态  ] End -->

<!-- [ 主内容区 ] start -->
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body" style="margin-top: -10px">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <div class="row">
			   				<!-- [ Hover-table ] start -->
                            <div class="col-xl-12">
                                <div class="card">
                                	<div class="card-block table-border-style" style="margin-top: -20px">
                                    	<div class="table-responsive">
                                             <table class="table table-hover">
												<tr>
													<td colspan="10">
										 			  <div class="starter-template">
														 	 <div id="editor" class="ace_editor ace-monokai ace_dark"><textarea id="codeContent" class="ace_text-input" wrap="off" autocorrect="off" autocapitalize="off" spellcheck="false" style="opacity: 0; height: 17px; width: 8px; left: 45px; top: 0px;"></textarea></div>
													  </div>
													</td>
												</tr>
											</table>
											<!-- [加载状态 ] start -->
										    <div id="jiazai">
										    	<div class="d-flex justify-content-center" style="margin-top:-10px;">
				                                    <div class="spinner-grow spinner-grow-sm" role="status">
				                                        <span class="sr-only">Loading...</span>
				                                    </div>
				                                </div>
				                            </div>
										    <!-- [ 加载状态  ] End -->
											<table style="margin-left: 15px;">
												<tr>
													<td>
														<a class="btn btn-light btn-sm" onclick="save();" id="sts">保存</a>
														<a class="btn btn-light btn-sm" onclick="reduction();" id="hts">还原</a>
														<a class="btn btn-light btn-sm" onclick="history();">历史编辑</a>
													</td>
												</tr>
											</table>
										</div>
	                                </div>
                                </div>
                             </div>
                             <!-- [ Hover-table ] end -->
                          </div>
                          <!-- [ Main Content ] end -->
                    </div>
                 </div>
            </div>
       </div>
   </div>
<!-- [ 主内容区 ] end -->
    
<script type="text/javascript" src="../../../assets/js/jquery-1.7.2.js"></script>
<script type="text/javascript" src="../../../assets/js/pre-loader.js"></script>
<script type="text/javascript" src="../../../assets/plugins/sweetalert/js/sweetalert.min.js"></script>

<!-- 表单验证提示 -->
<script type="text/javascript" src="../../../assets/js/jquery.tips.js"></script>

<script type="text/javascript" src="../../../plugins/codeEditor/ace.js" type="text/javascript" charset="utf-8"></script>

<!-- 本页面js -->
<script type="text/javascript" src="../../../assets/js-v/tools/codeeditor_edit_1.js"></script>

</body>
</html>